LLM_API_KEY=991c900ae5b607ae38aa572f50ae5bf8:NDVkNTY0Y2ZmYjUxYThhMWUyM2U1YmRi
LLM_BASE_URL=https://maas-api.cn-huabei-1.xf-yun.com/v2
LLM_MODEL=xopqwen36v35b
DATABASE_URL=sqlite+aiosqlite:///db/talent_path.db
CORS_ORIGINS=http://localhost:5173
